.nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    padding: 0;
}

.btn-nav:hover{
    transform: scale(1.2);
    color: darkgrey;
    border-radius: 15px;
}
.nav ul li a{
    text-decoration: none;
}

.btn-nav{
    border: 0;
    background-color: transparent;
    color: aliceblue;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
}