.note-body{
    background-color: blueviolet;
    height: 200px;
    border-radius: 20px;
    padding: 15px;
}
.note-title{
    margin: 0;
    padding-left: 15px;
}
.note-date{
    margin: 0;
    padding-left: 15px;
}